<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>82672281806-7o2q3lqebu1081f14qv44f5lq99pmosi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82672281806-7o2q3lqebu1081f14qv44f5lq99pmosi</string>
	<key>API_KEY</key>
	<string>AIzaSyA_6j_eAyqw-LYFwiajrMFyvY1xCJFCoL8</string>
	<key>GCM_SENDER_ID</key>
	<string>82672281806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sparxo.vambie</string>
	<key>PROJECT_ID</key>
	<string>fcmtest-ea77d</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmtest-ea77d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:82672281806:ios:ddfd70e9246ed745</string>
	<key>DATABASE_URL</key>
	<string>https://fcmtest-ea77d.firebaseio.com</string>
</dict>
</plist>